header.page-header
  .page-header__top.container
    a.page-header__logo
      img.header__logo-image(src="img/logo.svg", width="177", height="32", alt="Логотип компании wellyes")
  
    nav.page-header__nav.main-nav
      button.main-nav__toggle(type="button") Открыть меню
      ul.main-nav__list.site-list
        li.site-list__item
          a.site-list__link(target="_blank", rel="noopener noreferrer") Главная
        li.site-list__item
          a.site-list__link(href="#", target="_blank", rel="noopener noreferrer") О нас
        li.site-list__item
          a.site-list__link(href="#", target="_blank", rel="noopener noreferrer") Каталог

    span.page-header__tel +7 999 999-99-99

  .page-header__bottom
    .page-header__bottom-wrapper.container
      span.page-header__city Сочи
      span.page-header__room Аппартаменты 1