.appartments__list {
    @include indents-zero;
}

.appartments__item {
    padding-top: 38px;
    padding-bottom: 33px;
    padding-left: 20px;
    border-top: $border;

    &:last-of-type {
        border-bottom: $border;
    }
}

.appartments__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    @include bold;
    color: $color-font-yellow;

    &:hover,
    &:focus {
        color: #E3AB00;
    }
}

.appartments__description {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.appartments__desc {
    font-size: 16px;
    line-height: 24px;
    @include normal;
    color: #000000;

    &:hover,
    &:focus {
        color: #808080;
    }
}

.appartments__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    @include normal;
    color: $color-font-yellow;

    span {
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        color: #E3AB00;
    }

    svg:hover path,
    svg:focus path {
        fill: #E3AB00;
    }
}

@media (max-width: $desktop-width) {
    .appartments__list {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    .appartments__item {
        width: 49%;
        padding: 0;
        border: none;

        &:first-of-type {
            margin-right: 15px;
            border-right: $border;
        }

        &:last-of-type {
            border: none;
        }
    }

    .appartments__title {
        margin-bottom: 15px;
    }

    .appartments__description {
        margin: 0;
    }
}

@media (max-width: $tablet-width) {
    .appartments__list {
        flex-direction: column;
        margin-top: 25px;
    }

    .appartments__item {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }

        &:first-of-type {
            border-right: none;
        }
    }

    .appartments__title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 26px;
    }

    .appartments__desc {
        font-size: 13px;
    }
}
