.contact-tel {
    font-size: 24px;
    line-height: 24px;
    color: $color-font-gray;
    @include bold;
}

// @media (max-width: $desktop-width) {

// }

// @media (max-width: $tablet-width) {

// }
