.footer-nav__list {
    @include indents-zero;
    margin-right: 22%;
    font-size: 14px;
    line-height: 14px;
    @include bold;
    color: #000000;
}

.footer-nav__link {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    @include normal;
    color: $color-font-yellow;

    &:hover,
    &:focus {
        color: #E3AB00;
    }
}

.footer-nav__item-title {

    &:hover,
    &:focus {
        color: #808080;
    }
}

@media (max-width: $desktop-width) {
    .footer-nav__list {
        width: 30%;
        margin-right: 20%;
        margin-bottom: 40px;
    }

    .footer-nav__link {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: $tablet-width) {
    .footer-nav {
        margin-left: -12px;
        margin-right: -12px;
    }

    .footer-nav__list {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
        padding: 16px 15px 15px 13px;
        border-top: $border;

        &::after,
        &::before {
            content: '';
            position: absolute;
            right: 50px;
            top: 10px;
            width: 2px;
            height: 15px;
            background-color: #000000;
        }

        &::after {
            right: 38px;
        }

        &::after {
            transform: rotate(55deg);
        }

        &::before {
            transform: rotate(-55deg);
        }
    }
}
