.footer-nav__list {
    font-size: 14px;
    line-height: 14px;
    @include indents-zero;
    @include bold;
    color: #000000;
}

.footer-nav__link {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    @include normal;
    color: $color-font-yellow;
}

@media (max-width: $desktop-width) {
    .footer-nav__list {
        width: 50%;
        margin-bottom: 40px;
    }

    .footer-nav__link {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: $tablet-width) {
    .footer-nav {
        margin-left: -12px;
        margin-right: -12px;
    }

    .footer-nav__list {
        width: 100%;
        margin-bottom: 0;
        padding: 16px 15px 15px 13px;
        border-top: $border;
    }

    .footer-nav__item {
        display: none;
    }
}
