.info {
    width: 30%;
    padding-right: 50px;
    padding-bottom: 50px;
    border-right: $border;
}

@media (max-width: $desktop-width) {
    .info {
        width: 100%;
        padding-right: 0;
        border-right: none;
    }
}

// @media (max-width: $tablet-width) {
// }
