.info-n-notifications-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width: $desktop-width) {
    .info-n-notifications-wrapper {
        flex-direction: column;
        margin-bottom: 38px;
    }
}

@media (max-width: $tablet-width) {
    .info-n-notifications-wrapper {
        margin-bottom: 15px;
    }
}