.info {
    width: 31%;
    padding-right: 50px;
    padding-bottom: 50px;
    border-right: $border;
}

@media (max-width: $desktop-width) {
    .info {
        width: 100%;
        padding-right: 0;
        padding-bottom: 37px;
        border-right: none;
    }
}

@media (max-width: $tablet-width) {
    .info {
        margin-bottom: 15px;
        padding-bottom: 0;
    }
}
