.notifications {
    width: 66%;
}

.notifications__item {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 55px 35px 20px;
    border: $border;
    border-radius: 8px;
    background-color: #ffffff;

    &:hover,
    &:focus {
        color: #808080;
    }
}

.notifications__title {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 10px;
    font-size: 36px;
    line-height: 42px;
    color: $color-font-gray;
    @include bold;
}

.notifications__date {
    display: inline-block;
    margin-bottom: 15px;
    padding: 2px;
    font-size: 16px;
    line-height: 16px;
    @include normal;
    color: #000000;
    background: #EDEEEE;
    border-radius: 2px;
}

.notifications__item-title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    @include bold;
    color: #000000;
}

.notifications__button {
    position: absolute;
    right: 35px;
    top: 40px;
    padding: 0;
    opacity: 1;
    width: 32px;
    height: 32px;
    z-index: 5;
    border: none;
    background: transparent;
}

.notifications__panel {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.2);
    @include normal;
}

@media (max-width: $desktop-width) {
    .notifications {
        width: 100%;
    }

    .notifications__title {
        margin-bottom: 20px;
    }

    .notifications__item {
        margin-bottom: 17px;
        padding: 18px 35px 15px 15px;
    }

    .notifications__item-title {
        font-size: 16px;
        line-height: 16px;
    }

    .notifications__button {
        right: 15px;
        top: 15px;
    }
}

@media (max-width: $tablet-width) {
    .notifications__item {
        margin-bottom: 10px;
    }

    .notifications__panel {
        margin-top: 0;
        margin-bottom: 0;
    }
}