.page-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 45px;
}

.page-footer__info-wrapper {
    width: 30%;
}
.page-footer__nav-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 59%;
}

.page-footer__social {
    margin-bottom: 25px;
}

@media (max-width: $desktop-width) {
    .page-footer {
        padding-bottom: 0;
    }

    .page-footer__nav-wrapper {
        width: 45%;
    }
}

@media (max-width: 1000px) {
   .page-footer__nav-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: $tablet-width) {
    .page-footer {
        flex-direction: column;
        padding-top: 15px;
    }

    .page-footer__info-wrapper {
        width: 100%;
        margin-bottom: 35px;
    }

    .page-footer__nav-wrapper {
        width: auto;
    }
}
