.site-list {
    @include indents-zero;
    margin-left: 10px;
}

.site-list__item--header {
    margin-left: 50px;
}

.site-list__item--documentation:not(:last-of-type) {
    margin-bottom: 35px;
}

.site-list__link {
    font-size: 16px;
    line-height: 14px;
    color: $color-font-yellow;
    @include normal;
}

// @media (max-width: $desktop-width) {

// }

// @media (max-width: $tablet-width) {

// }
