.site-list {
    @include indents-zero;
}

.site-list__item--header {
    margin-left: 50px;
}

.site-list__item--documentation:not(:last-of-type) {
    margin-bottom: 35px;
}

.site-list__link {
    font-size: 16px;
    line-height: 14px;
    color: $color-font-yellow;
    @include normal;
}

@media (max-width: $desktop-width) {
    .site-list {
        margin-left: 0;
        margin-bottom: 70px;
        flex-direction: column;
        align-items: center;
    }

    .site-list__item {
        margin-left: 0;

        &:not(:last-of-type) {
            margin-bottom: 35px;
        }
    }
}

// @media (max-width: $tablet-width) {
    
// }
