doctype html
html(lang='ru')
	head
		title Wellyes
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5")
		link(rel="preload" href="fonts/roboto-regular.woff2" as="font")
		link(rel="preload" href="fonts/roboto-bold.woff2")
		link(rel="stylesheet" href="css/style.min.css")

	body
		include ../_partials/header

		block content

		include ../_partials/footer

		script(src="js/menu.js")
		script(src="js/lazzyLoad.js")
		script(src="js/accordion.js")
		script(src="js/slider.js")