html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  @include normal;
  background-color: #ffffff;
  color: $color-font-main;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
